<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.example.swlab.myapplication"
    >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:name=".FireApp"
        >

        <activity android:name=".Main_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Index_Aactivity" />
        <activity android:name=".Chat_Activity" />
        <activity android:name=".Mood_Activity" />
        <activity android:name=".Sports_Activity" />
        <activity android:name=".Question_Activity" />
        <activity android:name=".Leisure_Activity" />
        <activity android:name=".Sports_Run" />
        <activity android:name=".Sports_Notification_Activity" />
        <activity android:name=".Mood_Detection_Activity" />
        <activity android:name=".Mood_Calendar_Activity" />
        <activity android:name=".Mood_Sum_Activity" />
        <activity android:name=".Mood_Choose_Activity" />
        <activity android:name=".Mood_Diary_Activity" />
        <activity android:name=".Leisure_Exhibition_Activity" />
        <activity android:name=".Leisure_Theater_Activity" />
        <activity android:name=".Leisure_Speech_Activity" />
        <activity android:name=".Leisure_Article_Activity" />
        <activity android:name=".Sports_Event_Activity" />
        <activity android:name=".Music_Activity" />
        <activity android:name=".Music_Relax" />
        <activity android:name=".Music_Concentrate" />
        <activity android:name=".Music_Sleep" />
        <activity android:name=".Music_Exercise" />
        <activity android:name=".Music_Set" />
        <activity android:name=".Sports_Activity" />
        <activity android:name=".Sports_Event_Activity" />
        <activity android:name=".Sports_Notification_Activity" />
        <activity android:name=".Sports_Content" />
        <activity android:name=".Sports_Run" />
        <activity android:name=".Sports_Situps" />
        <activity android:name=".Sports_Squatting" />
        <activity android:name=".Sports_Upanddown" />
        <activity android:name=".Sports_Bike" />
        <activity android:name=".Sports_Hula" />
        <activity android:name=".Sports_Rope" />
        <activity android:name=".Sports_Swim" />
    </application>
</manifest>