<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tool"
    package="com.example.swlab.myapplication"
    >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <uses-sdk tools:overrideLibrary="android.support.v17.leanback"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/sw_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sw_icon"
        android:supportsRtl="false"
        android:background="@color/background"
        android:theme="@style/AppTheme"
        android:name=".FireApp"
        android:largeHeap="true"
        >

        <activity android:name=".Main_Activity"  android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Index_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Mood_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Information_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Question_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Leisure_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Run"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Notification_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Mood_Detection_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Mood_Sum_Activity"
            android:screenOrientation="landscape"/>
        <activity android:name=".Mood_Choose_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Mood_Diary_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Leisure_Exhibition_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Leisure_Theater_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Leisure_Speech_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Leisure_Speech_Youtube_Activity"
            android:screenOrientation="landscape" />
        <activity android:name=".Leisure_Article_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Music_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Music_Relax"
            android:screenOrientation="portrait" />
        <activity android:name=".Music_Concentrate"
            android:screenOrientation="portrait" />
        <activity android:name=".Music_Sleep"
            android:screenOrientation="portrait" />
        <activity android:name=".Music_Exercise"
            android:screenOrientation="portrait" />
        <activity android:name=".Music_Set"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Notification_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Record"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Run"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Bike"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Situps"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Squatting"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Upanddown"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Hula"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Rope"
            android:screenOrientation="portrait" />
        <activity android:name=".Sports_Swim"
            android:screenOrientation="portrait" />
        <receiver android:name=".AlarmNotificationReceiver"/>
    </application>
</manifest>